<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<!--【条件渲染】-->

<!---------------------------------------  v-if，v-else和template-->
<!--<div id="app">
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <template v-if="ok">
        <h1>text</h1>
        <p>content</p>
    </template>
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            ok: true
        }
    })
</script>-->

<!-------------------------------------- V-else-if -->
<!--<div id="app">
    <div v-if="type==='A'">A</div>
    <div v-else-if="type==='B'">B</div>
    <div v-else-if="type==='C'">C</div>
    <div v-else>Not A/B/C</div>
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            type: 'D'
        }
    })
</script>-->


</body>
</html>